<div class="image-list">
    <figure class="image-item">
        <img src="https://random.imagecdn.app/500/500" alt="Image">
    </figure>
    <figure class="image-item">
        <img src="https://fastly.picsum.photos/id/571/200/300.jpg?hmac=M2JAmSQct67FkQUX0_IWCUClgxf45dexs4oYKhpFDLA" alt="Image">
    </figure>
    <figure class="image-item">
        <img src="https://fastly.picsum.photos/id/571/200/300.jpg?hmac=M2JAmSQct67FkQUX0_IWCUClgxf45dexs4oYKhpFDLA" alt="Image">
    </figure>
    <figure class="image-item">
        <img src="https://fastly.picsum.photos/id/571/200/300.jpg?hmac=M2JAmSQct67FkQUX0_IWCUClgxf45dexs4oYKhpFDLA" alt="Image">
    </figure>
    <figure class="image-item">
        <img src="https://fastly.picsum.photos/id/571/200/300.jpg?hmac=M2JAmSQct67FkQUX0_IWCUClgxf45dexs4oYKhpFDLA" alt="Image">
    </figure>
    <figure class="image-item">
        <img src="https://fastly.picsum.photos/id/571/200/300.jpg?hmac=M2JAmSQct67FkQUX0_IWCUClgxf45dexs4oYKhpFDLA" alt="Image">
    </figure>
</div>
