:host {
    display: block;
    overflow: auto;
    height: 100%;
    padding: 16px;
}

.loader-wrapper {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}